[submodule "lib/godot-cpp"]
	path = lib/godot-cpp
	url = git@github.com:godotengine/godot-cpp.git
	branch = 3.4
[submodule "lib/entt"]
	path = lib/entt
	url = git@github.com:skypjack/entt.git
[submodule "lib/godot"]
	path = lib/godot
	url = https://github.com/godotengine/godot.git
